   <!-- Dotnet Report HTML Templates -->
<script type="text/html" id="report-filter">
    <div class="form-group">
        <!-- ko if: !hasForeignKey-->
        <!-- ko if: fieldType=='DateTime'-->
        <!-- ko if: ['=','>','<','>=','<=', 'not equal'].indexOf($parent.Operator()) != -1 -->
        <input class="form-control" data-bind="datepicker: $parent.Value" required />
        <!-- /ko -->
        <!-- ko if: ['between'].indexOf($parent.Operator()) != -1 -->
        From
        <input required class="form-control" data-bind="datepicker: $parent.Value" />
        to
        <input data-bind="datepicker: $parent.Value2" class="form-control" required />
        <!-- /ko -->
        <!-- ko if: ['range'].indexOf($parent.Operator()) != -1 -->
        <select data-bind="value: $parent.Value" class="form-control" required>
            <option value=""></option>
            <option>Today</option>
            <option>Today +</option>
            <option>Today -</option>
            <option>Yesterday</option>
            <option>This Week</option>
            <option>Last Week</option>
            <option>This Month</option>
            <option>Last Month</option>
            <option>This Year</option>
            <option>Last Year</option>
            <option>This Month To Date</option>
            <option>This Year To Date</option>
            <option>Last 30 Days</option>
            <optgroup label="Comparison Options">
                <option>>= Today</option>
                <option><= Today</option>
                <option>>= Today +</option>
                <option><= Today +</option>
                <option>>= Today -</option>
                <option><= Today -</option>
            </optgroup>
        </select>
        <div data-bind="if: $parent.Value().indexOf('Today +') >= 0 || $parent.Value().indexOf('Today -') >= 0" class="form-group pull-left" style="padding-top: 5px;">
            <input type="number" class="form-control input-sm pull-left" style="width: 80px;" data-bind="value: $parent.Value2" required /><span style="padding: 5px 5px;" class="pull-left"> days</span>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: ['Int','Money','Float','Double'].indexOf(fieldType) != -1 -->
        <!-- ko if: ['=','>','<','>=','<=', 'not equal'].indexOf($parent.Operator()) != -1 && ['is blank', 'is not blank', 'is null', 'is not null'].indexOf($parent.Operator()) == -1 -->
        <input class="form-control" type="number" data-bind="value: $parent.Value, disable: $parent.Operator() == 'is default'" required />
        <!-- /ko -->
        <!-- ko if: ['between'].indexOf($parent.Operator()) != -1 -->
        From
        <input class="form-control" type="number" data-bind="value: $parent.Value" required />
        to
        <input class="form-control" type="number" data-bind="value: $parent.Value2" required />
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: fieldType=='Boolean' && ['is blank', 'is not blank', 'is null', 'is not null'].indexOf($parent.Operator()) == -1 -->
        <select required class="form-control" data-bind="value: $parent.Value, disable: $parent.Operator() == 'is default'">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <!-- /ko -->
        <!-- ko if: ['Int','Money','Float','Double','Date','DateTime','Boolean'].indexOf(fieldType) == -1 && ['is blank', 'is not blank', 'is null', 'is not null'].indexOf($parent.Operator()) == -1 -->
        <input class="form-control" type="text" data-bind="value: $parent.Value, disable: $parent.Operator() == 'is default'" required />
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: hasForeignKey-->
        <!-- ko if: hasForeignParentKey && $parent.showParentFilter() -->
        <select multiple class="form-control" data-bind="select2: { placeholder: 'Please Choose', allowClear: true }, options: $parent.ParentList, optionsText: 'text', optionsValue: 'id', selectedOptions: $parent.ParentIn"></select>
        <!-- /ko -->
        <!-- ko if: $parent.Operator()=='='-->
        <select required class="form-control" data-bind="options: $parent.LookupList, optionsText: 'text', optionsValue: 'id', value: $parent.Value, optionsCaption: 'Please Choose'"></select>
        <!-- /ko -->
        <!-- ko if: $parent.Operator()=='in' || $parent.Operator()=='not in'-->
        <select required multiple class="form-control" data-bind="select2: { placeholder: 'Please Choose', allowClear: true }, options: $parent.LookupList, optionsText: 'text', optionsValue: 'id', selectedOptions: $parent.ValueIn"></select>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</script>
<script type="text/html" id="pager-template">
    <div class="pager-container">
        <a href="" title="first" data-bind="click: first, enable: !isFirstPage()"><i class="fa fa-backward report-pager-btn" style="font-size: 18px;"></i></a>&nbsp;
        <a href="" title="previous" data-bind="click: previous, enable: !isFirstPage()"><i class="fa fa-caret-left fa-2x report-pager-btn"></i></a>
        <select class="form-control form-control-sm" data-bind="options: [10,30,50,100,150,200,500], value: pageSize"></select>
        <span class="pager-pageinfo">
            <span>Page</span>&nbsp;
            <input type="number" min="1" pattern="[0-9]*" class="form-control form-control-sm text-center" data-bind="
                                value: currentPage,
                                attr: { max: pages() }" />&nbsp;
            <span>of</span>&nbsp;
            <span data-bind="text: pages"></span>
        </span>&nbsp;

        <a href="" title="next" data-bind="click: next, enable: !isLastPage()"><i class="fa fa-caret-right fa-2x report-pager-btn"></i></a>&nbsp;
        <a href="" title="last" data-bind="click: last, enable: !isLastPage()"><i class="fa fa-forward report-pager-btn" style="font-size: 18px;"></i></a>
    </div>
</script>

<script type="text/html" id="report-column-header">
    <!-- ko foreach: Columns -->
    <th data-bind="attr: { id: fieldId }, css: {'right-align': IsNumeric}, style: {'width': fieldWidth, 'background-color': headerBackColor }" style="border-right: 1px solid;">
        <!-- ko if: $parents[1].useStoredProc ? $parents[1].useStoredProc() : ($parents[2].useStoredProc ? $parents[2].useStoredProc() : false) -->
        <span data-bind="text: fieldLabel ? fieldLabel : fieldName, style: {'color': headerFontColor, 'font-weight': headerFontBold ? 'bold' : 'normal'}"></span>
        <!-- /ko -->
        <!-- ko ifnot: $parents[1].useStoredProc ? $parents[1].useStoredProc() : ($parents[2].useStoredProc ? $parents[2].useStoredProc() : false)  -->
        <a href="" data-bind="click: function(){ $parents[1].pager ? $parents[1].changeSort(SqlField) : $parents[2].changeSort(SqlField); }, style: {'color': headerFontColor, 'font-weight': headerFontBold ? 'bold' : 'normal'}">
            <span data-bind="text: fieldLabel ? fieldLabel : ColumnName"></span>
            <span data-bind="text: ($parents[1].pager ? $parents[1].pager.sortColumn() : $parents[2].pager.sortColumn()) === SqlField ? (($parents[1].pager ? $parents[1].pager.sortDescending() : $parents[2].pager.sortDescending()) ? '&#9660;' : '&#9650;') : ''"></span>
        </a>
        <!-- /ko -->

        <div class="pull-right">
            <div class="dropup">
            <button type="button" class="btn btn-sm" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                <span class="fa fa-ellipsis-v"></span>
            </button>
                <ul class="dropdown-menu" style="z-index: 1001;">
                    <li class="dropdown-item small">
                        <a href="#" data-bind="click: toggleOuterGroup">
                            <span class="fa fa-clone"></span> Outer Group
                        </a>
                    </li>
                    <li class="dropdown-item small">
                        <a href="#" >
                            <span class="fa fa-exchange"></span> Pivot
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </th>
    <!-- /ko -->
</script>

<script type="text/html" id="report-column">
    <!-- ko foreach: Items -->
    <td data-bind="style: {'background-color': backColor, 'color': fontColor, 'font-weight': fontBold ? 'bold' : 'normal', 'text-align': $parents[3].pager && $parents[3].ReportType()=='Single' ? 'center' : (fieldAlign ? fieldAlign : (Column.IsNumeric ? 'right' : 'left')), 'font-size':$parents[3].pager && $parents[3].ReportType()=='Single' ? '64px' : ''}">
        <!-- ko if: LinkTo-->
        <a data-bind="attr: {href: LinkTo}"><span data-bind="html: FormattedValue"></span></a>
        <!-- /ko-->
        <!-- ko ifnot: LinkTo-->
        <span data-bind="html: FormattedValue"></span>
        <!-- /ko-->
    </td>
</script>

<script type="text/html" id="report-table">
        <div class="table-responsive" data-bind="with: ReportData">
        <table class="table table-hover table-condensed">
            <thead data-bind="if: $parents[1].ReportType() != 'Single'">
                <tr class="no-highlight">
                    <!-- ko if: $parentContext.$parent.canDrilldown() && !IsDrillDown() -->
                    <th style="width: 30px; border-left: 1px solid;"></th>
                    <!-- /ko -->
                    <!-- ko template: 'report-column-header', data: $data -->
                    <!-- /ko-->
                </tr>
            </thead>
            <tbody>
                <tr style="display: none;" data-bind="visible: Rows.length < 1">
                    <td class="text-info" data-bind="attr:{colspan: Columns.length}">
                        No records found
                    </td>
                </tr>
                <!-- ko foreach: Rows  -->
                <tr>
                    <!-- ko if: $parentContext.$parentContext.$parent.canDrilldown() && !$parent.IsDrillDown() && $parentContext.$parentContext.$parent.ReportType() != 'Single' -->
                    <td style="width: 30px; vertical-align: middle;"><a href="#" data-bind="click: function(){ toggle(); }"><span class="fa" data-bind="css: {'fa-plus': !isExpanded(), 'fa-minus': isExpanded()}"></span></a></td>
                    <!-- /ko -->
                    <!-- ko template: 'report-column', data: $data -->
                    <!-- /ko-->
                </tr>
                <!-- ko if: isExpanded -->
                <tr>
                    <td style="width: 30px;"></td>
                    <td data-bind="attr:{colspan: $parent.Columns.length }" style="padding-left: 0px;">
                        <!-- ko if: DrillDownData -->
                        <table class="table table-hover table-condensed" data-bind="with: DrillDownData">
                            <thead>
                                <tr class="no-highlight">
                                    <!-- ko template: 'report-column-header', data: $data -->
                                    <!-- /ko-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="display: none;" data-bind="visible: Rows.length < 1">
                                    <td class="text-info" data-bind="attr:{colspan: Columns.length}">
                                        No records found
                                    </td>
                                </tr>
                                <!-- ko foreach: Rows  -->
                                <tr>
                                    <!-- ko template: 'report-column', data: $data -->
                                    <!-- /ko-->
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                        <div class="col-xs-12 col-centered" data-bind="with: pager">
                            <div class="form-inline small text-muted">
                                <div class="pull-left total-records" data-bind="visible: pages()">
                                    <span data-bind="text: 'Total Records: ' + totalRecords()"></span>
                                </div>
                                <div class="pull-left">
                                    <button class="btn btn-xs" title="Download Excel" data-bind="click: $parent.exportExcel"><span class="fa fa-file-excel-o"></span></button>
                                </div>
                                <div class="form-group pull-right" data-bind="visible: pages()">
                                    <div data-bind="template: 'pager-template', data: $data"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </td>
                </tr>
                <!-- /ko -->
                <!-- /ko -->
            </tbody>
            <!-- ko if: $parent.SubTotals().length == 1 -->
            <tfoot data-bind="foreach: $parent.SubTotals">
                <tr>
                    <!-- ko if: $parentContext.$parentContext.$parent.canDrilldown() && !$parent.IsDrillDown() -->
                    <td></td>
                    <!-- /ko -->
                    <!-- ko foreach: Items -->
                    <!-- ko if: Value != 'NA' && Value != 'NaN' -->
                    <td data-bind="style: {'background-color': backColor, 'color': fontColor, 'font-weight': fontBold ? 'bold' : 'normal', 'text-align': $parents[3].pager && $parents[3].ReportType()=='Single' ? 'center' : (fieldAlign ? fieldAlign : (Column.IsNumeric ? 'right' : 'left')), 'font-size':$parents[3].pager && $parents[3].ReportType()=='Single' ? '64px' : ''}">
                        <span data-bind="html: FormattedValue, css: {'right-align': true}"></span>
                    </td>
                    <!-- /ko -->
                    <!-- /ko -->
                </tr>
            </tfoot>
            <!-- /ko -->
        </table>
    </div>
</script>

<script type="text/html" id="report-template">
    <div class="report-chart" data-bind="attr: {id: 'chart_div_' + $parent.ReportID()}, visible: $parent.isChart"></div>
    <!-- ko if: !$parent.isChart() || $parent.ShowDataWithGraph() -->    
    <div data-bind="foreach: $parent.OuterGroupData">
    <div data-bind="html: display"></div>

    </div>
    
    <div data-bind="template: 'report-table', data: $data"></div>
    
    <!-- /ko -->
</script>
<script type="text/html" id="admin-mode-template">
    <div class="row" style="padding: 10px 10px">
        <div class="material-switch pull-right">
            <input id="admin-mode" type="checkbox" data-bind="checked: adminMode" />
            <label for="admin-mode" class="label-primary"></label>
        </div>
        <div class="pull-right">Admin Mode</div>
    </div>

    <div class="alert alert-info" data-bind="visible: adminMode">
        <i class="fa fa-user-circle"></i>Admin Mode is turned on now, it allows you to setup and view Reports or Dashboards for all roles and users. You should remove the Admin mode toggle for non-admin users.<br />
    </div>
</script>
<script type="text/html" id="manage-access-template">
    <h5><span class="fa fa-key"></span>Manage Access</h5>
    <div class="panel panel-default panel-body" style="margin-left: 20px;">

        <div class="form-group row" data-bind="ifnot: manageAccess.isDashboard">
            <label class="col-md-3 col-sm-3 control-label">Client Id to Restrict Access</label>
            <div class="col-md-3 col-sm-3">
                <input class="form-control text-box single-line" type="text" data-bind="value: manageAccess.clientId">
            </div>
            <div class="col-md-1 col-sm-1">
                <span data-toggle="tooltip" data-placement="right" class="fa fa-question-circle helptip" title="Leave blank to give all clients access (Global Reports)"></span>
            </div>
        </div>
        <div class="alert alert-info">
            <span class="fa fa-lightbulb-o fa-2x"></span>&nbsp;User level rights over rule Role level rights. No selection for a rule implies report is available to all.
        </div>

        <div class="row small">
            <div class="col-md-6">
                <b>Manage by User</b> (allow edit)
                <div class="row container-fluid">
                    <!-- ko foreach: manageAccess.users -->
                    <div class="pull-left">
                        <div class="checkbox">
                            <label class="label label-info">
                                <input type="checkbox" data-bind="checked: selected">&nbsp;<span data-bind="text: text"></span>&nbsp;
                            </label>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div data-bind="if: manageAccess.users.length == 0">
                        Users list not populated or not applicable
                    </div>
                </div>
                <br />
                <b>View only by User</b> (no edit/delete)
                <div class="row container-fluid">
                    <!-- ko foreach: manageAccess.viewOnlyUsers -->
                    <div class="pull-left">
                        <div class="checkbox">
                            <label class="label label-info">
                                <input type="checkbox" data-bind="checked: selected">&nbsp;<span data-bind="text: text"></span>&nbsp;
                            </label>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div data-bind="if: manageAccess.users.length == 0">
                        Users list not populated or not applicable
                    </div>
                </div>
                <br />
                <div data-bind="ifnot: manageAccess.isDashboard">
                    <b>Delete by User</b> (allow delete)
                    <div class="row container-fluid">
                        <!-- ko foreach: manageAccess.deleteOnlyUsers -->
                        <div class="pull-left">
                            <div class="checkbox">
                                <label class="label label-info">
                                    <input type="checkbox" data-bind="checked: selected">&nbsp;<span data-bind="text: text"></span>&nbsp;
                                </label>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div data-bind="if: manageAccess.users.length == 0">
                            Users list not populated or not applicable
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="col-md-6">
                <b>Manage by User Role</b> (allow edit)
                <div class="row container-fluid">
                    <!-- ko foreach: manageAccess.userRoles -->
                    <div class="pull-left">
                        <div class="checkbox">
                            <label class="label label-info">
                                <input type="checkbox" data-bind="checked: selected">&nbsp;<span data-bind="text: text"></span>&nbsp;
                            </label>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div data-bind="if: manageAccess.userRoles.length == 0">
                        User Roles list not populated or not applicable
                    </div>
                </div>
                <br />
                <b>View only by User Role</b> (no edit/delete)
                <div class="row container-fluid">
                    <!-- ko foreach: manageAccess.viewOnlyUserRoles -->
                    <div class="pull-left">
                        <div class="checkbox">
                            <label class="label label-info">
                                <input type="checkbox" data-bind="checked: selected">&nbsp;<span data-bind="text: text"></span>&nbsp;
                            </label>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div data-bind="if: manageAccess.userRoles.length == 0">
                        User Roles list not populated or not applicable
                    </div>
                </div>
                <div data-bind="ifnot: manageAccess.isDashboard">
                    <br />
                    <b>Delete by User Role</b> (allow delete)
                    <div class="row container-fluid">
                        <!-- ko foreach: manageAccess.deleteOnlyUserRoles -->
                        <div class="pull-left">
                            <div class="checkbox">
                                <label class="label label-info">
                                    <input type="checkbox" data-bind="checked: selected">&nbsp;<span data-bind="text: text"></span>&nbsp;
                                </label>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div data-bind="if: manageAccess.userRoles.length == 0">
                            User Roles list not populated or not applicable
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="filter-group">
    <div class="query-builder form-inline" data-bind="foreach: FilterGroups">
        <div class="rules-group-container">
            <div class="rules-group-header">
                <div data-bind="visible: !isRoot">
                    <div class="pull-left">
                        <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons" role="group">
                        <label class="btn btn-primary active" style="margin-right: 0px;" >
                            <input type="radio" name="andoroption" data-bind="checked: AndOr, checkedValue: 'And'"> And
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="andoroption" data-bind="checked: AndOr, checkedValue: 'Or'"> Or
                        </label>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-secondary" data-bind="click: $parent.RemoveFilterGroup, visible: !isRoot">Remove Group</button>&nbsp;
                    </div>
                </div>
                <div data-bind="visible: isRoot">
                    <div class="btn-group btn-group-sm">
                        <label class="btn btn-primary">Filter Conditions</label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="rules-group-body" data-bind="template: {name: 'filter-inner'}"></div>
        </div>
    </div>
</script>
<script type="text/html" id="fly-filter-template">
    <div class="card" data-bind="visible: FlyFilters().length>0">
        <div class="card-header">
            <h5 class="card-title">
                <a data-toggle="collapse" data-target="#filter-panel" href="#">
                    <i class="fa fa-filter"></i>Choose filter options
                </a>
            </h5>
        </div>
        <div id="filter-panel" class="card-body">
            <div>
                <!-- ko foreach: FlyFilters -->
                <div class="row">

                    <div class="col-sm-5 col-xs-4">
                        <div data-bind="with: Field" class="checkbox">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" title="Apply this filter" data-bind="checked: $parent.Apply" /><span data-bind="text: selectedFieldName"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div data-bind="with: Field" class="col-sm-2 col-xs-3">
                        <div class="form-group" data-bind="if: $parent.Apply">
                            <select class="form-control" data-bind="options: fieldFilter, value: $parent.Operator" required></select>
                        </div>
                    </div>
                    <div data-bind="with: Field" class="col-xs-5">
                        <div data-bind="if: $parent.Apply">
                            <div data-bind="template: 'report-filter', data: $data"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <button class="btn btn-primary" data-bind="click: RunReport">Refresh Report</button>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="filter-inner">
    <div class="rules-list" >
        <div class="rule-container" data-bind="visible: Filters().length>0">
        <table class="table table-hover table-borderless">
            <thead>
                <tr>
                    <th style="width: 10%"></th>
                    <th style="width: 30%">Field</th>
                    <th style="width: 10%"></th>
                    <th style="width: 30%">Filter</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Filters">
                <tr class="rule-container">
                    <td>
                        <select data-bind="value: AndOr, visible: $index()>0" class="form-control">
                            <option>And</option>
                            <option>Or</option>
                        </select>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" style="width: 100%;" data-bind="options: $root.selectedFieldsCanFilter, optionsText: 'selectedFieldName', optionsCaption: 'Please Choose', value: Field, attr: {required: Field()==null?'required':false}, disable: Field() && Field().forced"></select>
                        </div>
                    </td>
                    <td data-bind="with: Field">
                        <div class="form-group">
                            <select class="form-control" style="width: 100%;" data-bind="options: fieldFilter, value: $parent.Operator" required></select>
                        </div>
                    </td>
                    <td data-bind="with: Field">
                        <div data-bind="template: 'report-filter', data: $data"></div>
                    </td>
                    <td>
                        <span data-bind="visible: Field() && Field().forced" class="badge badge-info">Required Filter</span>
                        <button class="btn btn-sm btn-secondary" data-bind="click: $parent.RemoveFilter, hidden: Field() && Field().forced">Remove</button>
                        <!-- ko if: Field() && Field().fieldType == 'DateTime' && Operator() == 'range' && $root.canAddSeries() && $index()==0 -->
                        <button class="btn btn-sm btn-secondary" data-bind="click: $root.AddSeries.bind($data)">Add Comparison</button>
                        <!--/ko -->
                    </td>
                </tr>
                <!-- ko foreach: compareTo -->
                <tr>
                    <td></td>
                    <td style="text-align: right"><button class="btn btn-xs" data-bind="click: $root.RemoveSeries"><span class="fa fa-trash-o"></span></button></td>
                    <td>Compare To</td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" data-bind="options: Range, value: Value" required></select>
                        </div>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        </div>

        <div class="rule-container" >
            <div data-bind="template: {name: 'filter-group'}"></div>
            <div>
                <button class="btn btn-sm btn-primary" data-bind="click: AddFilterGroup">Add Group</button>
                <button class="btn btn-sm btn-primary" data-bind="click: AddFilter">Add Filter</button>
            </div>
        </div>
    </div>

</script>

<script type="text/html" id="filter-parameters">
    <div class="table-responsive card" style="margin-left: 20px;">
        <div class="card-body">
            <span data-bind="hidden: showParameters">No filters available to choose</span>
            <table class="table  table-hover table-borderless" data-bind="visible: showParameters">
                <thead>
                    <tr>
                        <th style="width: 30%">Paramter</th>
                        <th style="width: 20%"></th>
                        <th style="width: 30%">Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Parameters">
                    <tr data-bind="ifnot: Hidden">
                        <td data-bind="text: DisplayName">
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" style="width: 100%;" data-bind="options: operators, value: Operator" required></select>
                            </div>
                        </td>
                        <td data-bind="with: Field">
                            <div data-bind="template: 'report-filter', data: $data"></div>
                        </td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</script>


<div class="modal" id="noaccountModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Account not Setup</h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-danger">dotnet Report Account Configuration missing!</p>
                <p>You do not have the neccessary initial configuration completed to use dotnet Report.</p>
                <p>Please view the <a href="https://dotnetreport.com/blog/2016/03/getting-started-with-dotnet-report/" target="_blank">Getting Started Guide</a> to correctly configure dotnet Report.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
