<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asp .Net Ad Hoc Report Builder - @ViewBag.Title </title>
    <meta name="keywords" content="ad-hoc reporting, reporting, asp .net reporting, asp .net report, report builder, ad hoc report builder, ad-hoc report builder, adhoc report, ad hoc reports, .net report viewer, reportviewer, sql reportviewer, report builder mvc, report mvc, report builder web forms, query builder, sql report builder,visual report builder,custom query,query maker" />
    <meta name="description" content="Ad hoc Reporting software that allows programmers to easily add Reporting functionality to their ASP .NET Web Software Solution" />

    @await Html.PartialAsync("_DotnetReportHeaderPartial")
    @RenderSection("head", required: false)
</head>

<body>
    <div class="navbar border-bottom box-shadow navbar-inverse bg-dark">
        <div class="">
            <div class="navbar-brand">
                <a href="/">
                    <img src="/img/report-logo.png" alt=".Net Report Builder" width="200" />
                </a>
            </div>
        </div>
    </div>
    <div class="body-content container-fluid" style="padding-bottom: 60px;">
        @RenderBody()
    </div>
    <div class="report-layout-footer">
        <!-- ########################## IMPORTANT - PLEASE DO NOT REMOVE WITHOUT PURCHASING LICENSE ########################### -->
        <p>Ad Hoc Reporting and Dashboard powered by <a href="http://www.dotNetReport.com" target="_blank">dotnetReport.com</a></p>
        <!--########################## IMPORTANT - PLEASE DO NOT REMOVE WITHOUT PURCHASING LICENSE ########################### -->
    </div>
    
    @await Html.PartialAsync("_DotnetReportTemplatesPartial")
    @await Html.PartialAsync("_DotnetReportJsLibrariesPartial")

    @RenderSection("scripts", required: false)
</body>
</html>
