body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.listbox {
    min-width: 200px;
    width: 100%;
    height: 300px !important;
}

.list-overflow {
    min-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-overflow-auto {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-report li {
    list-style: none;
    border-bottom: solid 1px #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.folder-panel {
    min-height: 400px;
}

.folder-list {
    padding-left: 0;
    list-style: none;
}

    .folder-list li {
        float: left;
        width: 95px;
        height: 95px;
        padding: 10px;
        font-size: 12px;
        line-height: 1.4;
        text-align: center;
        border: 1px solid #fff;
        cursor: pointer;
    }

        .folder-list li:hover {
            background-color: #ddd;
        }

    .folder-list .glyphicon {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 34px;
        color: #ffd800;
    }

    .folder-list .desc {
        display: block;
        text-align: center;
        word-wrap: break-word;
    }

.modal-fullscreen {
}

    .modal-fullscreen .modal-content {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}

    .modal-backdrop.modal-backdrop-fullscreen.in {
        opacity: .8;
        filter: alpha(opacity=97);
    }

.modal-fullscreen {
    margin: 0;
    margin-left: auto;
    padding-right: 0px !important;
    overflow-y: auto;
}

    .modal-fullscreen .modal-dialog {
        background: #ffffff;
        margin: 0;
        margin-left: auto;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 80%;
    }

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    max-height: 100%;
    overflow: auto;
    border: 1px solid;
}

.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
}

.modal-fullscreen .modal-dialog {
    border: none;
    border-radius: 0;
    background: #f9f9f9;
    border-left: 1px solid #f5f5f5;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 10px 0 5px -2px #888;
    box-shadow: 1000px 0 0 #f9f9f9,0 2px 80px rgba(0,0,0,.5);
}

.form-group .button-box {
    margin-top: 0;
    margin-bottom: 0;
}

.folder-list {
    padding-left: 0;
    list-style: none;
}

.button-box:hover {
    color: #37a000;
    border-color: #b7dda3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-box .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 34px;
}

.button-box.active, .button-box:active, .button-box:focus, .button-box:hover, .row > .col-md-3 > .button-box:active, .row > .col-md-4 > .button-box:active {
    z-index: 1;
    outline: none;
}

.button-box.active {
    color: #37a000;
    border-color: #37a000;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-box {
    cursor: pointer;
    position: relative;
    vertical-align: top;
    text-align: center;
    min-height: 120px;
    border-radius: 2px;
    border: 2px solid #e0e0e0;
    color: #494949;
    padding: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

    .button-box.no-padding {
        min-height: 0px;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        border: none;
    }

.drop-highlight {
    height: 30px;
    line-height: 30px;
    border: 2px dashed #494949;
}

.sortable {
    cursor: pointer;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

.panel-heading.panel-nocollapse a:after {
    content: "";
    float: right;
}

.padded-div {
    padding: 10px 10px 10px 10px;
}

.padded-top {
    padding-top: 5px;
}

.formula-field {
    padding: 10px 15px;
    border: solid 1px #ddd;
    background-color: #fff;
}

.body-content {
    margin: 10px 10px;
}

.report-container {
    padding: 5px 5px 5px 5px;
    margin: 30px 30px 30px 30px;
}

    .report-container > .report-inner {
        padding: 25px 25px 25px 25px;
        background: #fff;
        margin-bottom: 38px;
    }

.report-view {
    margin: 0 auto;
    /*max-width: 1200px;*/
}

@media(max-width: 992px) {
    .report-canvas > .report-container {
        min-height: 580px;
    }

    .report-container > .report-inner {
        min-height: 880px;
    }
}

@media(min-width: 993px) {
    .report-canvas > .report-container {
        min-height: 840px;
    }

    .report-container > .report-inner {
        min-height: 1040px;
    }
}

.report-pager-btn {
    vertical-align: middle;
    margin-top: -4px;
    padding-right: 10px;
}

.report-outer {
}

.report-canvas {
    width: 100%;
    overflow: auto;
    top: 32px;
    right: 0;
    bottom: 32px;
    left: 0;
    background-color: #888;
}

.report-menubar {
    z-index: 2;
    width: 100%;
    overflow: hidden;
    background-color: #ddd;
}

.btn {
    margin-right: 5px;
}

.right-align {
    text-align: right !important;
}

.report-chart {
    width: 100%;
    min-height: 450px;
}

.total-records {
    padding-top: 3px;
    padding-right: 5px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.validation-summary-errors ul {
    list-style-type: none;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.error {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.form-control {
    /*width: auto;*/
}

.blockUI {
    z-index: 2200 !important;
}

.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .canvas-container canvas {
        width: 100%;
    }

select.is-invalid ~ span .select2-selection {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.highlight {
    background-color: yellow;
}

.query-builder .rule-container, .query-builder .rule-placeholder, .query-builder .rules-group-container {
    position: relative;
    margin: 4px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eee;
    width: 100%;
}

.query-builder .rules-group-container {
    padding: 10px;
    padding-bottom: 6px;
    border: 1px solid #dcc896;
}

.query-builder .rules-group-header {
    margin-bottom: 10px
}

    .query-builder .rules-group-header .group-conditions .btn.readonly:not(.active), .query-builder .rules-group-header .group-conditions input[name$='_cond'] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap
    }

    .query-builder .rules-group-header .group-conditions .btn.readonly {
        border-radius: 3px
    }

.query-builder .rules-list {
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0;
}

    .query-builder .rules-list > ::after, .query-builder .rules-list > ::before {
        content: '';
        position: absolute;
        left: -10px;
        width: 10px;
        height: calc(50% + 4px);
        border-color: #ccc;
        border-style: solid
    }

    .query-builder .rules-list > ::before {
        top: -4px;
        border-width: 0 0 2px 2px;
    }

    .query-builder .rules-list > ::after {
        top: 50%;
        border-width: 0 0 0 2px
    }

    .query-builder .rules-list > :first-child::before {
        top: -12px;
        height: calc(50% + 14px)
    }

    .query-builder .rules-list > :last-child::before {
        border-radius: 0 0 0 4px
    }

    .query-builder .rules-list > :last-child::after {
        display: none
    }

.select2-container {
    width: 100% !important;
    min-width: 180px !important;
}

.select2-selection {
    min-height: 36px;
    padding-top: 3px;
}

.query-input {
    outline: none;
    border: 1px solid #eee;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 15px;
    min-height: 64px;
    cursor: text;
}

    .query-input a {
        background-color: transparent;
        color: #2ba6cb !important;
        text-decoration: none;
        cursor: pointer;
    }

.report-layout-footer {
    font-size: 10pt;
    position: fixed;
    padding: 15px 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

.report-expanded {
    position: fixed !important;
    padding: 0 !important;
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1059 !important;
}

    .report-expanded .table-responsive {
        overflow-x: initial !important;
    }

    .report-expanded .report-expanded-scroll {
        flex-grow: 1;
        overflow: scroll;
        height: 80vh;
        top: var(--offset-top, 0);
        max-height: calc(100% - var(--offset-top, 0));
    }

.ui-datepicker {
    display: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    z-index: 9999;
    width: 200px;
}

.ui-datepicker-header {
    background-color: #f6f6f6;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.ui-datepicker-title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    cursor: pointer;
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
}

.ui-datepicker-prev {
    left: 10px;
    border-color: transparent #999 transparent transparent;
}

.ui-datepicker-next {
    right: 10px;
    border-color: transparent transparent transparent #999;
}

    .ui-datepicker-prev span,
    .ui-datepicker-next span {
        display: none;
    }

.ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

    .ui-datepicker-calendar th,
    .ui-datepicker-calendar td {
        text-align: center;
    }

    .ui-datepicker-calendar th {
        font-weight: bold;
        background-color: #f6f6f6;
    }

    .ui-datepicker-calendar td {
        cursor: pointer;
    }

    .ui-datepicker-calendar .ui-state-default {
        background-color: #fff;
    }

    .ui-datepicker-calendar .ui-state-highlight {
        background-color: #ffcc00;
    }

    .ui-datepicker-calendar .ui-state-active {
        background-color: #e6e6e6;
    }

    .ui-datepicker-calendar .ui-state-hover {
        background-color: #f2f2f2;
    }

    .ui-datepicker-calendar .ui-datepicker-unselectable .ui-state-default {
        color: #aaa;
        cursor: default;
    }

.bootbox.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 10%;
    padding-left: 10%;
}

    .bootbox.modal .modal-dialog {
        margin: 0;
    }

.modal-header .modal-title {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.modal-dialog.modal-lg {
    max-width: 90%;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.list-group-item {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .list-group-item:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

.report-container {
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

.report-inner {
    padding: 30px;
}

.report-view {
    margin: 0 auto;
}

.report-canvas {
    background-color: #fafafa;
}

.report-menubar {
    padding: 10px 15px;
    background-color: #e9ecef;
    border-bottom: 1px solid #ddd;
}

.styled-select {
    border-radius: 3px;
    border: 1px solid #ccc;
}

@media(max-width: 992px) {
    .report-container, .report-inner {
        min-height: auto;
    }
}

@media(min-width: 993px) {
    .report-container, .report-inner {
        min-height: auto;
    }
}

.total-records {
    color: #888;
}

h2 {
    font-size: 1.3em;
    margin-top: 5px;
}

.btn:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Style the Select2 container to look like plain text */
.select-as-text + .select2 .select2-selection {
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Hide the dropdown arrow by default */
.select-as-text + .select2 .select2-selection__arrow {
    display: none;
}

/* Show the dropdown arrow when hovering over the Select2 container */
.select-as-text + .select2:hover .select2-selection__arrow {
    display: block;
}

/* Customizing the BlockUI message container */
.blockUI.blockMsg.blockPage {
    background: transparent !important; /* Transparent background */
    border: none !important; /* No border */
    box-shadow: none !important; /* No shadow */
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    text-align: center;
    position: relative;
}

    /* Adjust the font size of the default text */
    .blockUI.blockMsg.blockPage h1 {
        display: none;
        font-size: 14px;
        position: absolute; /* Position the text absolutely */
        top: 110px; /* Adjust the top value as needed */
        width: 100%; /* Ensure the text spans the width of the container */
        left: 50%;
        transform: translateX(-50%); /* Center the text horizontally */
    }

    /* Dual-ring spinner styling */
    .blockUI.blockMsg.blockPage:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 18px auto; /* Center the spinner horizontally */
        border-radius: 50%;
        border: 6px solid #3498db;
        border-color: #3498db transparent #3498db transparent;
        animation: dual-ring-spin 1.2s linear infinite;
    }

/* Animation for the dual-ring spinner */
@keyframes dual-ring-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.color-table {
    display: flex;
    align-items: center;
    margin: 5px;
}

.color-cell {
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height */
}

thead th {
    border-top: 1px solid var(--bs-border-color);
    border-bottom: 1px solid var(--bs-border-color);
}

/* Style Blue */
.style-blue tbody tr:nth-child(odd) {
    background-color: #DEEBF7;
}

.style-blue tbody tr:nth-child(even) {
}

.style-blue > tbody > tr:nth-of-type(odd) > * {
    background-color: #DEEBF7;
}

.style-blue thead th {
    background-color: #CFE2F3;
    color: #000000;
    padding: 10px;
    border-bottom: 1px solid #4dc3ff;
    border-top: 1px solid #4dc3ff;
}

.style-blue a {
    color: #005c99;
}

/* Style Green */
.style-green tbody tr:nth-child(odd) {
    background-color: #bde6bd;
}

.style-green tbody tr:nth-child(even) {
    background-color: #d3efd3;
}

.style-green > tbody > tr:nth-of-type(odd) > * {
    background-color: #bde6bd;
}

.style-green thead th {
    background-color: #90d690;
    color: #333333;
    padding: 10px;
    border-bottom: 2px solid #64c764;
    border-top: 2px solid #64c764;
}

.style-green a {
    color: #2d862d;
}

/* Style Red */
.style-red tbody tr:nth-child(odd) {
    background-color: #ffb3b3;
}

.style-red tbody tr:nth-child(even) {
    background-color: #ffcccc;
}
.style-red > tbody > tr:nth-of-type(odd) > * {
    background-color: #ffb3b3;
}

.style-red thead th {
    background-color: #ff8080;
    color: #333333;
    padding: 10px;
    border-bottom: 2px solid #ff4d4d;
    border-top: 2px solid #ff4d4d;
}

.style-red a {
    color: #b30000;
}

/* Style Yellow */
.style-yellow tbody tr:nth-child(odd) {
    background-color: #ffffb3;
}
.style-yellow > tbody > tr:nth-of-type(odd) > * {
    background-color: #ffffb3;
}

.style-yellow tbody tr:nth-child(even) {
    background-color: #ffffcc;
}

.style-yellow thead th {
    background-color: #ffff80;
    color: #333333;
    padding: 10px;
    border-bottom: 2px solid #ffff4d;
    border-top: 2px solid #ffff4d;
}

.style-yellow a {
    color: #cc9900;
}

/* Style Orange */
.style-orange tbody tr:nth-child(odd) {
    background-color: #FCE5CD;
}
.style-orange > tbody > tr:nth-of-type(odd) > * {
    background-color: #FCE5CD;
}

.style-orange tbody tr:nth-child(even) {
}

.style-orange thead th {
    background-color: #F9CB9C;
    color: #333333;
    padding: 10px;
    border-bottom: 1px solid #ffb84d;
    border-top: 1px solid #ffb84d;
}

.style-orange a {
    color: #cc6600;
}

/* Style Mixed */
.style-mixed tbody tr:nth-child(odd) {
    background-color: #c8d8d8;
}
.style-mixed > tbody > tr:nth-of-type(odd) > * {
    background-color: #c8d8d8;
}

.style-mixed tbody tr:nth-child(even) {
    background-color: #d8e4e4;
}

.style-mixed > tbody > tr:nth-of-type(even) > * {
    background-color: #d8e4e4;
}
.style-mixed-bright tbody tr:nth-child(odd) {
    background-color: #D5A6BD;
}
.style-mixed-bright > tbody > tr:nth-of-type(odd) > * {
    background-color: #D5A6BD;
}


.style-mixed thead th {
    background-color: #c8d8e4;
    color: #333333;
    padding: 10px;
    border-bottom: 2px solid #c8e4d8;
    border-top: 2px solid #c8e4d8;
}

    .style-mixed thead th a {
        color: #8a6755; /* A complementary yet distinct color */
        text-decoration: none;
    }

        .style-mixed thead th a:hover {
            text-decoration: underline;
        }


.style-mixed-bright tbody tr:nth-child(odd) {
    background-color: #D5A6BD;
}

.style-mixed-bright tbody tr:nth-child(even) {
}

.style-mixed-bright thead th {
    background-color: #C27BA0;
    color: #333333;
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.mini-table-cell {
    flex-grow: 1; /* Allows cells to expand, maintaining the flex layout */
    border: 1px solid #ddd; /* Adds a border to each cell */
    box-sizing: border-box; /* Ensures the border is included in the cell's dimensions */
    width: 15px; /* Sets a fixed width for each cell */
    height: 10px; /* Sets a different fixed height for each cell, making it rectangular */
}


.dropdown-content {
    display: flex; /* Use flexbox to lay out child elements in a row */
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px; /* Adds some padding around the options */
    z-index: 1;
}

.dropdown-option {
    display: inline-flex; /* Makes each option an inline flex container */
    flex-direction: column; /* Aligns the mini-table previews vertically */
    align-items: center; /* Centers the mini-table previews */
    cursor: pointer;
    padding: 5px; /* Adds some padding around each option */
    margin: 5px; /* Adds some space between the options */
    border: 1px solid #ccc; /* Adds a border around each option */
    background-color: #fff; /* Optional: sets a background color for each option */
}

.mini-table-preview {
    width: 60px; /* Set a fixed width for the mini-table previews */
    height: 40px; /* Set a fixed height for the mini-table previews */
    overflow: hidden; /* Hides any overflow */
    display: flex; /* Use flexbox for the mini-table layout */
    flex-direction: column; /* Aligns the rows vertically */
}

.mini-table-row {
    display: flex; /* Use flexbox for the row layout */
    flex-grow: 1; /* Allows rows to expand to fill available space */
}

.mini-table-cell {
    flex-grow: 1; /* Allows cells to expand, maintaining the flex layout */
    border: 1px solid #ddd; /* Adds a border to each cell */
    box-sizing: border-box; /* Ensures the border is included in the cell's dimensions */
    width: 12px; /* Sets a fixed width for each cell */
    height: 8px; /* Sets a different fixed height for each cell, making it rectangular */
}

.dropdown-option-selected {
    border: 2px solid #37a000;
}

.report-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey border */
    border-top: 4px solid #3498db; /* Blue border */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cm-error {
    background: url('data:image/png;base64,iVBORw0...') bottom left repeat-x; /* red squiggly line image */
    background-size: auto 100%;
}

.CodeMirror-hint.cm-function-hint:before {
    content: "\f0c3";
    font-family: FontAwesome;
    font-weight: 900;
    color: #3366CC;
    padding-right: 5px;
}

.CodeMirror-hint.cm-field-hint:before {
    content: "\f1c0";
    font-family: FontAwesome;
    font-weight: 900;
    color: #E65100;
    padding-right: 5px;
}

.cm-function-hint-text {
    color: #3366CC;
}

.cm-field-hint-text {
    color: #E65100;
}

.single-line-codemirror {
    border: 1px solid #e0e0e0;
    height: 40px !important;
    overflow-y: hidden;
}

    .single-line-codemirror .CodeMirror-scroll {
        overflow-y: hidden !important;
        overflow-x: auto !important;
    }

.CodeMirror-hints {
    z-index: 9999 !important;
    position: fixed;
}

tfoot tr.sub-total {
    border-top: double 4px #dee2e6;
    border-bottom: double 4px #dee2e6;
}

.formula-field-item {
    position: relative;
    display: flex;
    align-items: center;
}

.delete-btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.formula-field-item:hover .delete-btn {
    display: inline-block;
}


.select2-container--open {
    z-index: 2000;
}

.bubble-badge {
    display: inline-flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
    font-size: 12px;
}

    .bubble-badge .form-check-input {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 14px;
    }


    .dropdown-item a {
        text-decoration: none;
    }

.row{
    padding-top: 5px; padding-bottom: 5px;
}

.sticky-column {
    position: sticky;
    top: 0;
    height: 100%;
    z-index: 1000;
}

@media (max-width: 768px) {
    .sticky-column {
        position: static; /* Disable sticky on smaller screens */
    }
}
