@using Newtonsoft.Json;
@using ReportBuilder.Web.Models;
@{
    Layout = "~/Views/shared/_Layout.Report.cshtml";
}


<div class="container">
    <div class="container text-center py-4">
        <div class="row align-items-center">
            <div class="col-md-12">
                <img src="https://dotnetreport.com/wp-content/uploads/2024/02/Dotnet-Report-Dashboard-1024x688.png" class="img-fluid pull" style="max-width: 450px;">
            </div>
            <div class="col-md-12">
                <h1>Welcome to Dotnet Report</h1>
                <p>Dotnet Report is an easy-to-use and feature-rich Reports, Analytics and Dashboards system.</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item list-group-item-dark list-group-item-heading">
                    Front End Options for Users
                </div>
                <a href="@Url.Action("Dashboard","DotNetReport")" class="list-group-item list-group-item-action" data-bind="click: viewManageDashboards">
                    <i class="fa fa-dashboard mr-2"></i> View/Design Dashboards
                </a>
                <a href="@Url.Action("Index","DotNetReport")" class="list-group-item list-group-item-action" data-bind="click: viewManageReports">
                    <i class="fa fa-file mr-2"></i> View/Run Reports
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">

                <div class="list-group-item list-group-item-dark list-group-item-heading">
                    Backend Options for Admins
                </div>
                <a href="@Url.Action("Index","DotNetSetup")" class="list-group-item list-group-item-action">
                    <i class="fa fa-database mr-2"></i> Manage Database / Settings
                </a>

                <a href="https://dotnetreport.com/app/AccountProfile/Dashboard" class="list-group-item list-group-item-action" target="_blank">
                    <i class="fa fa-gear mr-2"></i> Manage your Account (Online Portal)
                </a>
            </div>
        </div>

    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item list-group-item-action">
                    <i class="fa fa-question-circle-o mr-2"></i> Need help? <br />
                    Try our <a href="https://dotnetreport.com/docs/" target="_blank">Knowledgebase</a> or <a href="https://dotnetreport.com/contact/" target="_blank">Contact Support</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>