@using Newtonsoft.Json;
@{
    ViewBag.Title = "Setup Report Builder";
    Layout = "~/Views/shared/_Layout.Report.cshtml";
}

<div class="container">
    <h2 class="text-center">Welcome to DNR</h2>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="list-group">
                <a href="https://dotnetreport.com/app/AccountProfile/Dashboard" class="list-group-item list-group-item-action" target="_blank">
                    <i class="fa fa-gear mr-2"></i>Manage your DNR Account 
                </a>
                <a href="/dotnetsetup" class="list-group-item list-group-item-action" data-bind="click: setupDatabaseConnection">
                    <i class="fa fa-database mr-2"></i>Manage Database connection, Tables, Datasets & more
                </a>
                <a href="/dotnetsetup/usersandroles" class="list-group-item list-group-item-action" data-bind="click: manageUsersAndAccess">
                    <i class="fa fa-users mr-2"></i>Manage Users, Roles and Access
                </a>
                <a href="/dotnetreport/dashboard" class="list-group-item list-group-item-action" data-bind="click: viewManageDashboards">
                    <i class="fa fa-dashboard mr-2"></i>View/Manage Dashboards
                </a>
                <a href="/dotnetreport" class="list-group-item list-group-item-action" data-bind="click: viewManageReports">
                    <i class="fa fa-file mr-2"></i>View/Manage Reports
                </a>
            </div>
            <br />
            <div class="list-group">
                <div class="list-group-item list-group-item-action" >
                     <i class="fa fa-help mr-2"></i>Need help? Try our <a href="https://dotnetreport.com/docs/" target="_blank">Knowledgebase</a> or <a href="https://dotnetreport.com/contact/" target="_blank">Contact Support</a> 
                </div>
               
            </div>

            <div class="small" style="text-align: center;padding-top: 10px;">
                Copyright © www.dotnetreport.com
            </div>
        </div>
    </div>
</div>
