@using Newtonsoft.Json;
@using ReportBuilder.Web.Models;
@{
    Layout = "~/Views/shared/_Layout.Report.cshtml";
}

@section head {
    <style>

        .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: transparent;
        }

        .hero-image img {
        max-width: 100%;
        height: auto;
        }

        .hero-text {
        margin-left: 20px; /* Adjust the spacing between the image and text as needed */
        }

    </style>
}

<div class="container">
    <div class="hero">
        <div class="hero-image">
            <img src="/img/report-main.png">
        </div>
        <div class="hero-text">
            @if (User.Identity.IsAuthenticated)
            {
                <h4>Hi @User.Identity.Name</h4>
            }
            <h1>Welcome to Dotnet Report</h1>
            <p>Dotnet Report is an easy-to-use and feature-rich Reports, Analytics and Dashboards system.</p>

        </div>
    </div>

    <div class="row justify-content-center mt-5">

        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item list-group-item-dark list-group-item-heading">
                    Front End Options for Users
                </div>
                <a href="/dotnetreport/dashboard" class="list-group-item list-group-item-action" data-bind="click: viewManageDashboards">
                    <i class="fa fa-dashboard mr-2"></i> View/Design Dashboards
                </a>
                <a href="/dotnetreport" class="list-group-item list-group-item-action" data-bind="click: viewManageReports">
                    <i class="fa fa-file mr-2"></i> View/Run Reports
                </a>
            </div>
            <br />
            <div class="list-group">
                <div class="list-group-item list-group-item-action">
                    <i class="fa fa-question-circle-o mr-2"></i>Need help? <br />
                    Try our <a href="https://dotnetreport.com/docs/" target="_blank">Knowledgebase</a> or <a href="https://dotnetreport.com/contact/" target="_blank">Contact Support</a>
                </div>

            </div>

        </div>
            <div class="col-md-4">

                <div class="list-group">

                    <div class="list-group-item list-group-item-dark list-group-item-heading">
                        Backend Options for Admins
                    </div> 
                    @if(ClaimsHelper.HasAnyRequiredClaim(User as System.Security.Claims.ClaimsPrincipal, ClaimsStore.AllowSetupPageAccess))
                    {
                        <a href="/dotnetsetup" class="list-group-item list-group-item-action">
                            <i class="fa fa-database mr-2"></i> Manage Database
                        </a>
                    }
                    @if (ClaimsHelper.HasAnyRequiredClaim(User as System.Security.Claims.ClaimsPrincipal, ClaimsStore.AllowManageUsersAndRoles))
                    {
                        <a href="/dotnetsetup/usersandroles" class="list-group-item list-group-item-action">
                            <i class="fa fa-users mr-2"></i> Manage Users, Roles and Access
                        </a>
                    }
                @*<a href="/dotnetsetup/usersandroles" class="list-group-item list-group-item-action">
                    <i class="fa fa-bar-chart mr-2"></i>System Settings
                </a>*@
                <a href="https://dotnetreport.com/app/AccountProfile/Dashboard" class="list-group-item list-group-item-action" target="_blank">
                    <i class="fa fa-gear mr-2"></i> Manage your Account (Online Portal)
                </a>
            </div>

        </div>
    </div>
</div>

@section scripts{
    @if (ViewBag.NewAccount == true)
    {
    <script>
        toastr.success("Thank you for signing up. Your new account is ready!")
    </script>
    }
}