<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>   
    <add key="dotNetReport.apiUrl" value="https://dotnetreport.com/api" />
    <add key="dotNetReport.accountApiToken" value="" />
    <add key="dotNetReport.privateApiToken" value="" />
    <add key="dotNetReport.dataconnectApiToken" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SERVER" connectionString="server=.;uid=sa;pwd=Admin123;database=DotNetDB;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>